.nav_edits {
  /* background-color: #008891; */
  background-color: white;
  color: #fff;
  position: fixed;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0px 18px;
  /* font-family: "Trip Sans", Arial, sans-serif !important; */
}

h1 {
  font-family: "Montserrat", serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

#subtitle {
  font-family: "Montserrat", serif;
  color: #fff;
}

#collapsible-nav-dropdown {
  background: #114b74;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  border: 10px;
  border-color: white;
  font-size: 1.25rem;
  line-height: 1.5;
  /* a:hover {
    background: #41aea9;
    border-color: white;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); */
}

.logo {
  color: black;
  padding-top: 20px;
  font-style: italic;
  font-style: bold;
  font-family: American Typewriter, serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.logo_icon {
  height: 60px;
  margin-left: 20px;
}
